body {
  background: #5f86ce;
}

* {
  box-sizing: border-box;
}

*[draggable] {
  cursor: move !important;
}

.layout {
  background: #fff;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.column {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  height: 100%;
  display: flex;
}

.container .text {
  width: 100%;
}

.container .column {
  display: inline-flex;
  width: 50%;
  height: 100%;
  align-items: center;
}

p {
  margin: 0;
  width: 100%;
}

.image {
  background: #ddd;
}

.column img {
  max-width: 100%;
  width: 320px;
  height: 320px;
  border-radius: 100%;
}

.instagram {
  background: #aaa;
}

.column-simple {
  background: #eee;
  color: #333;
  font-size: 16px;
}
