.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #5f86ce;
}

* {
  box-sizing: border-box;
}

*[draggable] {
  cursor: move !important;
}

.layout {
  background: #fff;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.column {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  height: 100%;
  display: flex;
}

.container .text {
  width: 100%;
}

.container .column {
  display: inline-flex;
  width: 50%;
  height: 100%;
  align-items: center;
}

p {
  margin: 0;
  width: 100%;
}

.image {
  background: #ddd;
}

.column img {
  max-width: 100%;
  width: 320px;
  height: 320px;
  border-radius: 100%;
}

.instagram {
  background: #aaa;
}

.column-simple {
  background: #eee;
  color: #333;
  font-size: 16px;
}
